.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  border: 1px solid #42423F;
  padding: 24px;
  border-radius: 24px;
  background: #272726;

  .head {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      letter-spacing: 0em;
    }

    .closs_btn {
      cursor: pointer;
      transition: all ease-in-out 0.1s;
    
      &:hover {
        transform: scale(0.98);
      }
    }
  }


  .divider {
    border-top: 1px solid #42423F;
    margin: 20px 0px;
  }
}

.bakground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
  height: 100vh;
  background: #211E1E52;
}