.info__block {
  position: relative;
  background: var(--dark-grey);
  width: 100%;
  padding: 40px;
  border-radius: 24px;

  .info__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
  }

  .info__apy {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: var(--grey);
    display: flex;
  }

  .info__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    .info__earned {
      display: flex;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: var(--grey);

      .info__description {
        flex: 1 1 372px;
      }

      .info__coin {
        color: var(--foreground);
        flex: 1 1 288px;
      }

      .info__percent {
        color: var(--foreground);
        flex: 1 1 96px;
        text-align: end;
      }

    }
  }
}