.wrapper {
  cursor: auto;
  position: absolute;
  top: 54px;
  right: 0px;
  padding: 32px;
  border-radius: 16px;
  background: linear-gradient(126.85deg, #353A36 0%, #292A2C 100%);
  display: flex;
  flex-direction: column;
  width: 376px;
  gap: 24px;
  z-index: 100;

  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1), transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  animation: init 0.35s cubic-bezier(0.4, 0, 0.2, 1);

  @keyframes init {
    from {
      opacity: 0;
      transform: translate3d(0, -40px, 0);
    }

    to {
      opacity: 1;
      transform: translateZ(0);
    }
  }


  .block {
    display: flex;
    flex-direction: column;
    gap: 4px;
    
    .block__title {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: #737373;
    }

    .block__content {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      display: flex;
      align-items: center;
      gap: 8px;

      .copy {
        cursor: pointer;
        transition: ease-in-out .3s;
        height: fit-content;

        animation-name: initclick;
        animation-duration: .3s;

        width: 24px;
        height: 24px;

        @keyframes initclick {
          from {
            transform: scale(0);
          } to {
            transform: scale(1);
          }
        }
      }
    }
  }

  .dbl__block {
    display: flex;
    gap: 40px;
  }

  .transaction {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--foreground);

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .disconnect {
    font-size: 16px;
    font-weight: 300;
    line-height: 12px;
    color: var(--error);

    cursor: pointer;
    transition: all ease-in-out 0.1s;;
    
      &:hover {
        transform: scale(0.98);
      }
  }
}

.success {
  color: var(--green);
}

.pending {
  color: var(--varning);
}

.error {
  color: var(--error);
}