.header {
  padding: 46px 0px 8px 0px;
  height: 118px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__centerBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
  }

  .header__top{
    color: var(--green);
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
  }
  
  .header__nav {
    display: flex;
    gap: 8px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
 
    .nav__item {
      text-decoration: none;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: var(--foreground);
      padding: 16px 24px;
      display: flex;
      gap: 10px;
      align-items: center;
      transition: all ease-in-out 0.1s;
      border-radius: 12px;

      &:hover {
        background-color: var(--space-grey );
      }
    }

    .nav__item_icon {
      padding: 10px 10px 10px 24px;
    }

    .active {
      position: relative;
      &::after {
        position: absolute;
        content: '';
        height: 1px;
        bottom: 0px;
        background: var(--green);
        animation: itemBeforeShow 0.3s both linear;
      }
    }

    .header__top {
      position: relative;
      width: fit-content;

      &::before {
        content: "Soon"; 
        position: absolute;
        top: -24px;
        right: 50%;
        transform: translateX(50%);
        color: var(--green);
      }
    }
  }
}

@keyframes itemBeforeShow {
  0% {
    width: 0;
    left: 50%;
  }

  100% {
    width: 100%;
    left: 0;
  }
}