.popover_inner {
  background: var(--dark-grey);
  border: 1px solid var(--grey);
  min-width: 185px;
  margin: 0;
  border-radius: 16px
}

.popover {
  z-index: 100;
}

@media (max-width: 600px) {
  .popover_inner {
    border: 0px;
    padding: 0px 8px;
    width: 100%;
  }
}
